.u-section-1 .u-sheet-1 {
  min-height: 585px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 762px;
  --radius: 50px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  margin: 20px auto 0 9px;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 26px auto 0 20px;
}

.u-section-1 .u-text-3 {
  font-size: 1.125rem;
  margin: 49px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  margin: 34px auto 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 465px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-list-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-1 .u-repeater-1 {
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  min-height: 465px;
  grid-gap: 10px;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px 10px 10px 30px;
}

.u-section-1 .u-icon-1 {
  width: 81px;
  height: 81px;
  background-image: none;
  --radius: 10px;
  color: rgb(255, 255, 255) !important;
  margin: 26px auto 0 0;
  padding: 16px;
}

.u-section-1 .u-text-4 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -72px auto 0 115px;
}

.u-section-1 .u-text-5 {
  margin: 9px auto 0 101px;
}

.u-section-1 .u-container-layout-4 {
  padding: 10px 10px 10px 30px;
}

.u-section-1 .u-icon-2 {
  width: 81px;
  height: 81px;
  background-image: none;
  --radius: 10px;
  color: rgb(255, 255, 255) !important;
  margin: 26px auto 0 0;
  padding: 16px;
}

.u-section-1 .u-text-6 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -72px auto 0 115px;
}

.u-section-1 .u-text-7 {
  margin: 9px auto 0 101px;
}

.u-section-1 .u-container-layout-5 {
  padding: 10px 10px 10px 30px;
}

.u-section-1 .u-icon-3 {
  width: 81px;
  height: 81px;
  background-image: none;
  --radius: 10px;
  color: rgb(255, 255, 255) !important;
  margin: 26px auto 0 0;
  padding: 16px;
}

.u-section-1 .u-text-8 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -72px auto 0 115px;
}

.u-section-1 .u-text-9 {
  margin: 9px auto 0 101px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 468px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 628px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 383px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 625px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 505px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 86px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 86px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-left: 86px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 888px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1425px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 514px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-text-3 {
    font-size: 0.75rem;
    width: auto;
    margin-top: 44px;
    margin-right: 12px;
    margin-left: 8px;
  }

  .u-section-1 .u-btn-1 {
    --radius: 20px;
    margin-top: 32px;
    margin-right: 4px;
    margin-left: auto;
    padding: 10px 120px 10px 119px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 625px;
  }

  .u-section-1 .u-list-1 {
    margin-bottom: -57px;
    margin-top: 57px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 625px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 0;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: -63px;
    margin-left: 107px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 1px;
    margin-right: 0;
    margin-left: 103px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 0;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: -63px;
    margin-left: 107px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: 1px;
    margin-right: 0;
    margin-left: 103px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-icon-3 {
    margin-top: 0;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-top: -63px;
    margin-left: 107px;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-top: 1px;
    margin-right: 0;
    margin-left: 103px;
  }
}